<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Hems</title>
</head>
<body>

  <video id="video_id" controls width="1280" height="720">
    <source src="/playlist.m3u8" type="application/x-mpegURL">
  </video>

</body>
</html>
